@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}

@theme inline {
  --color-primary-text: #333333;
  --color-sub-text: #5a5c5f;
  --color-primary-text: #333;
  --color-secondary-blue: #4bcde4;
  --color-secondary-red: #ed1a51;
  --color-off-white: #c1d0e5;
  --color-light-green: #21bba2;
  --color-accent-gray: #f2f2f2;
  --color-accent-off-white: #e4e3e0;
  --shadow-custom-lg: 0px 30px 65px 6px rgba(19, 25, 39, 0.11);
}

body {
  background: #eff3f6;
  font-family: var(--font-poppins), sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@layer components {
  .inputCls {
    @apply w-full rounded-[8px] border border-[#CFCFCF] bg-white text-[#5A5C5F] font-normal leading-[150%] outline-none focus:border-gray-900 focus:ring-2 focus:ring-gray-900/10;
    @apply px-4 py-2 text-base sm:px-5 sm:py-2.5 sm:text-[18px] md:px-[20px] md:py-[10px] md:text-[18px] lg:px-[22px] lg:py-[10px] lg:text-[19px] xl:px-[24px] xl:py-[11px] xl:text-[20px];
  }

  .labelCls {
    @apply block text-[#333] font-medium leading-tight;
    @apply text-base sm:text-lg md:text-xl lg:text-[22px] xl:text-[24px];
    @apply leading-[28px] sm:leading-[30px] md:leading-[32px] lg:leading-[34px] xl:leading-[36px];
  }
}

.carttext {
  @apply text-primary-text font-normal leading-[150%] text-base md:text-lg xl:text-[20px];
}

.shadow_box {
  @apply p-5 border border-[#E9E9E9] bg-white rounded-xl w-[312px] space-y-3 shadow-[0_30px_65px_6px_rgba(19,25,39,0.11)];
}

.section_title {
  @apply text-[#333] text-xl sm:text-2xl xl:text-3xl 2xl:text-[48px] font-semibold leading-[150%];
}

.section_subTitle {
  @apply text-[#333] text-[20px] sm:text-lg xl:text-xl 2xl:text-[28px] font-semibold leading-[150%];
}

.section_description {
  @apply text-[#333] text-[16px] font-normal leading-[150%];
}

.input {
  @apply px-6 py-[11px] rounded-lg border border-[#CFCFCF] w-full;
}

.lavelStyle {
  @apply text-[#333] text-[18px] font-medium leading-[150%] mb-2;
}

.shadow-card {
  @apply my-5 bg-white px-3 md:px-5 py-4 md:py-8 rounded-lg border-[#F2F2F2] shadow-[0px_30px_65px_6px_#1319271C];
}

.shadow-card-label {
  @apply block font-medium text-primary-text text-lg md:text-2xl leading-[150%] mb-1 md:mb-3;
}

.dashboard_header {
  @apply text-2xl md:text-4xl font-medium text-primary-text;
}

.side-scrollbar::-webkit-scrollbar {
  display: none;
}

.card_title {
  @apply text-[#333] font-medium text-[22px] leading-[34px] sm:text-[24px] sm:leading-[36px] lg:text-[26px] lg:leading-[40px] mb-2.5;
}

.th {
  @apply bg-white text-primary-text px-4 lg:px-5 py-4 font-normal text-center text-sm whitespace-nowrap
}

.td {
  @apply bg-white px-4 lg:px-5 py-5 text-[16px] text-[#333] align-middle whitespace-nowrap
}

.small_card {
  @apply rounded-2xl bg-white p-4 shadow-[0_5px_8px_1px_rgba(0,0,0,0.20),0_0_0.225px_0.225px_rgba(0,0,0,0.07),0_0_0.225px_0_rgba(0,0,0,0.05),0_2.698px_2.923px_-1.349px_rgba(0,0,0,0.25),0_0.899px_3.598px_0.899px_rgba(0,0,0,0.12)];
}