@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   font-family: "Poppins", sans-serif; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-text: #333;
  --color-button: #21BBA2;
}

.section_title {
  @apply text-[#333] text-[28px] sm:text-[36px] md:text-[42px] lg:text-[48px] font-semibold leading-[150%];
}
.section_subTitle {
  @apply text-[#333] text-[20px] sm:text-[24px] md:text-[26px] lg:text-[28px] font-semibold leading-[150%];
}
.section_description {
  @apply text-[#333] text-[16px] font-normal leading-[150%];
}
.input {
  @apply px-6 py-[11px] rounded-lg border border-[#CFCFCF] w-full;
}
.lavelStyle {
  @apply text-[#333] text-[18px] font-medium leading-[150%] mb-2;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
